*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 30px auto;
   width: 700px;
   height: 800px;
   background: radial-gradient(circle, rgba(159,134,192,1) 37%, rgba(94,84,142,1) 100%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   color: #540d6e;
   box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.41);
}
.form{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    
    
}
.title{
    color: #fff;
}
input{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    color: #540d6e;
    border-radius: 10px;
    border: none;
}
input:focus{
    outline: none;
    box-shadow: none;
}
.btn{
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btn-bg{
    color: #540d6e;
    border: 3px solid #540d6e;
    background-color: #faf0af;
    transition: all .2s;
  
}
.totale{
    background-color: #e0b1cb;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reload{
    width: 100px;
    cursor: pointer;
    font-weight: 700;
    background-color: #faf0af;
    color: #540d6e;
    border: 3px solid #540d6e;
    font-size: 15px;
    
}
.btn-bg:hover{
    transform: scale(1.1);
   
}
.btn-bg:active{
    transform: scale(1);
 
}